/* ================================
    Layout (L)
================================ */

.l-header {
    background-color: #000;
}

.l-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 26px;
}

.l-main {
    margin: 0 auto 100px;
}

.l-container {
    max-width: 1512px;
    margin: 0 auto;
}

.l-divider {
    margin: 0;
    border: none;
    border-top: 2px solid #5F5F5F;
}

.l-button-wrapper {
    display: flex;
    width: 100%;
}

/* ================================
    Header Logo
================================ */

.l-header__inner {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    margin-right: 5px;
    padding: 0 14px;
    border: 1px solid transparent;
}

.l-header__inner:hover {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.l-header__content {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* ================================
    Components (C)
================================ */

.c-search {
    width: 500px;
}

.c-search-form {
    width: 100%;
}

.c-search-input {
    width: 100%;
    height: 50px;
    padding: 0 12px 0 48px;
    font-size: 24px;
    border-radius: 6px;
}

.c-nav__list {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.c-nav__link,
.c-nav__link--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    border-radius: 3px;
}

.c-nav__link {
    width: 135px;
    padding: 0;
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 7px;
}

.c-nav__link:hover {
    border: 1px solid #ddd;
}

.c-nav__link--button {
    width: 100px;
    margin-left: 18px;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.c-nav__link--button:hover {
    background-color: #bbb;
}
