# Laravel vendor & node
/vendor/
/node_modules/

# Laravel environment files
.env
.env.*

# Laravel caches & logs
/storage/*
/public/storage
/bootstrap/cache/*.php

# IDE / Editor
/.idea
/.vscode

# NPM / Yarn logs
npm-debug.log
yarn-error.log

# Docker override
docker-compose.override.yml

# PHPUnit cache
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml
